


.chart {
  height: 700px;
}


path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.legend {
    font-size: 14px;
    font-weight: bold;
    background-color: grey;
    border: solid;
    text-anchor: middle;
    margin:100px;
} 

text {
    border: solid;
}

